@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");

:root {
	--main-color: #1b222a;
	--additional-color: #1b222a;
	--voice-color: #1b222a;
	--button-color: linear-gradient(#2a3742, #2a3742);
	--blue-color-text: #cdd6f4;
	--hover-color: #2a3742;
	--link-color: #5785ba;
	--checkbox-cheked-color: #5785ba;
	--message-background: linear-gradient(100deg, #2a3742 0%, #2a3742 15%, #1b222a 50%);
}

/* Скрытие кнопок */
button[aria-label="Начать активность"],
button[aria-label="Камера недоступна"],
button[aria-label="Шумоподавление с помощью Krisp"],
[role="button"][aria-label="Почта"],
[role="button"][aria-label="Помощь"],
[role="button"][aria-label="Параметры уведомлений"],
div:has(> button[aria-label="Открыть звуковую панель"]),
div:has(> span[class*="disabledButtonWrapper__69c70"]),
[role="button"][aria-label="Начать видеозвонок"],
button[aria-label="Розпочати дію"],
button[aria-label="Поглинання шуму від Krisp"],
[role="button"][aria-label="Вхідні"],
[role="button"][aria-label="Довідка"],
div:has(> button[aria-label="Відкрити звукову панель"]),
[role="button"][aria-label="Розпочати відеовиклик"] {
    display: none;
}

.theme-dark {
	/* Текст */
	--brand-260: var(--blue-color-text);
	--primary-130: var(--blue-color-text);
	--primary-230: var(--blue-color-text);
	--primary-330: var(--blue-color-text);
	--primary-360: var(--blue-color-text);
	--primary-430: var(--blue-color-text);
	--primary-560: var(--blue-color-text);
	--primary-660: var(--main-color);
	--white-500: var(--blue-color-text);
	--interactive-hover: var(--blue-color-text);
    --interactive-muted: var(--blue-color-text);
	--channel-text-area-placeholder: var(--blue-color-text);
	--channeltextarea-background: var(--blue-color-text);
	--deprecated-text-input-bg: var(--blue-color-text);
    --deprecated-text-input-border: var(--blue-color-text);
    --deprecated-text-input-border-disabled: var(--blue-color-text);
    --deprecated-text-input-border-hover: var(--blue-color-text);
    --deprecated-text-input-prefix: var(--blue-color-text);
	--input-placeholder-text-dark: var(--blue-color-text);
    --button-outline-danger-text-active: var(--blue-color-text);
	/* Каналы на сервере */
    --background-modifier-active: var(--hover-color);
	--background-modifier-hover: var(--hover-color);
	--background-modifier-selected: var(--hover-color);
	/* Контекстное меню */
    --background-floating: var(--additional-color);
	/* Цвет ссылок */
    --text-link: var(--link-color);
	/* Закреплённые сообщения */
    --background-primary: var(--message-background);
	/* Различные цвета */
	--brand-500: var(--link-color);
	--green-330: var(--link-color);
	--green-360: var(--link-color);
	--yellow-260: var(--link-color);
	--yellow-300: var(--link-color);
	--background-modifier-accent: var(--hover-color);
}

/* Сообщения */
.message__80c10.cozyMessage__64ce7.groupStart__56db5 {
    position: relative;
    margin: 16px 5px 0 70px;
    padding: 8px 10px;
    padding-bottom: 3px;
    background: var(--message-background);
    border-bottom: none !important;
    overflow: visible !important;
    border-radius: 0 5px 5px 5px;
}
.promptContent__63c03 .overlay_ef4f80 {
    background: var(--message-background) !important;
	}
.tierCard_f6953a, .tierCardCurrentTier_df8c32, .recommendedTierHighlightTag-2Vgifo {
    background-image: var(--message-background);
}
.message__80c10.systemMessage__6e6a4.groupStart__56db5:after, .message__80c10:not(.groupStart__56db5):after {
    display: none;
}
.message__80c10.systemMessage__6e6a4.groupStart__56db5 {
    border-radius: 5px;
}
.message__80c10.groupStart__56db5 .avatar__08316, .systemMessage__6e6a4.message__80c10:not(.groupStart__56db5) .avatar__08316 {
    top: 0px;
    left: -50px;
}
.avatarDecoration__14b3c {
    left: -55px;
    top: 0;
}
.avatar__08316 {
    top: 0px;
    left: 20px;
}
.preview_a8dd8d .avatar__08316 {
    left: -55px;
}
.message__80c10:not(.groupStart__56db5).cozy_f5c119.wrapper__09ecc {
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 0 0 5px 5px;
    margin-top: -3px;
}
.message__80c10.selected_fd9051, .mouse-mode.full-motion .message__80c10:hover {
    background: var(--message-background);
}
.message__80c10:not(.groupStart__56db5) {
    margin: 0 5px 0 70px;
    background: var(--message-background);
    overflow: visible;
}
.cozy_f5c119 .timestamp_cdbd93.alt__6c563 {
    left: -65px;
}
.attachment_f3cf2c.newMosaicStyle__235c9, .newMosaicStyle__8d3be .codeView__8b1ff, .newMosaicStyle__8d3be .footer__06f4b, .newMosaicStyle__8d3be .textContainer__709ff, .grid_c7c4e6, .wrapper_c727b6 {
    background: linear-gradient(100deg, #1b222a 0%, #2a3742 15%, #2a3742 50%, #1b222a 100%);
}

/* Панель "Переподключиться" */
.colorWarning__216d2 {
    background: var(--link-color);
    color: var(--main-color);
}

/* Окно "Пригласить" */
.tile_a411a4 {
    background: var(--main-color);
}

/* Верхние иконки и их текст */
.container__11d72 * {
    color: var(--link-color);
}

/* Сервер */
.modeUnreadImportant_efb53e .icon_eff5d4, .modeUnreadImportant_efb53e:hover .icon_eff5d4, .modeSelected__487d6 .icon_eff5d4, .modeSelected__487d6:hover .icon_eff5d4, .icon_eff5d4, .name_c08dbc, .colorDefault__0b482 .checkbox__45366, .colorDefault__0b482 .radioSelection__5ed39, .iconContainer__829e7, .button__07e07 path, .button__07e07.open_a0ea08 path {
    color: var(--link-color);
}
.label__73cb9, .name__8d1ec {
    color: var(--blue-color-text);
}

/* Выбранный сервер */
.item_f9d377 {
    background-color: var(--link-color);
}

/* Подписка "Nitro" */
.children__32014 > .akaBadge__7df41, .children__32014 > .nicknames__7447d, .children__32014 > .divider_c09b64, .scroller__3d071 > .listItem_fa7b36 > .listItemWrapper__1f93b, .controlButton_ab2899.fauxDisabled_e7913a.contextMenuContainer_fc4df6, .buttonContainer__66ac7, .channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/shop"], .channel_c21703 .linkButton_ebd2ba > .link__2e8e1[href="/store"] {
    display: none;
}
.members__9f47b, .scroller__3d071, .theme-dark .panel_bd8c76, .chatContent__5dca8, .themed_b152d4, .children__32014:after, [data-list-id="chat-messages"], .form__13a2c:before, .form__13a2c, .scroller__4b984, .searchBar_e4ea2a, .searchBarComponent__22760, .searchBar_e0c60b, .container_ca50b9, .container_d667ff, .withFrame__485f4 {
    background: var(--main-color) !important;
}
.root__3eef0 {
    background: var(--voice-color);
}
.placeholder_e68c63, .scrollableContainer__33e06 {
    background: var(--hover-color);
}
.gradientBackground-MytxDL {
    display: none;
}

/* Скролл-бар */
::-webkit-scrollbar {
    border: 0px !important;
    width: 6px !important;
}
::-webkit-scrollbar-thumb {
    background-color: #2a3742 !important;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #cdd6f4 !important;
}
.auto_a48086::-webkit-scrollbar-track {
    background-color: var(--main-color);
}
.auto_a48086::-webkit-scrollbar-thumb, .auto_a48086::-webkit-scrollbar-track {
    border: 4px;
}

/* Selected */
.modeSelected__487d6 .wrapper__7bcde, .button_d553e5.selected__63428 {
    background: var(--hover-color) !important;
}

/* Настройки */
.accountProfileCard__22589, .sidebarRegionScroller__1fa7e, .contentRegionShownSidebar__610ed {
    background: var(--main-color) !important;
}
.container__871ba.checked__6bdb0, .bd-switch input:checked + .bd-switch-body {
    background: var(--checkbox-cheked-color) !important;
}
.bd-switch-symbol, .slider__41d94 > svg {
    display: none;
}
.icon__8f621 {
    color: var(--blue-color-text);
}
.connectionOptionsWrapper_abe849, .connectionHeader__3c82d, .theme-dark .progress__2cc1d, .bar_e58961, .iconContainer__82920, .circle__7dd22 {
    background: var(--hover-color);
}
.top__592a7 .brand_ce3ecf.selected__5711d.item__48dda, .top__592a7 .brand_ce3ecf.item__48dda:hover, .top__592a7 .brand_ce3ecf.item__48dda:active {
    border-bottom-color: var(--link-color);
}
.settingsTabBar__19aa3, .settingsTabBar__17e8a {
    border-bottom-color: transparent;
}
.metadataContainer__7b316 {
    background: transparent;
}

/* Раздел "Активные контакты" */
.itemCard__1f162:first-of-type, .section_efc22d:hover, .accountProfileCard__22589 {
    background: var(--main-color);
}

/* Значок, показывающий нахождение в голосовом канале */
.iconBadge_fdf33a {
    background: var(--link-color) !important;
}

/* Плеер */
.theme-dark .container__79822:not(.playing_eb5c63) .playButtonContainer_d887d6, .theme-dark .container__79822:not(.playing_eb5c63) .playButtonContainer_d887d6:hover, .mediaBarPreview__2937c, .mediaBarProgress__29db2, .mediaBarProgress__29db2:before, .mediaBarProgress__29db2:after {
    background: var(--link-color);
}
.mediaBarInteractionVolume_f4c833 {
    background: var(--main-color);
	box-shadow: var(--elevation-high);
}
.mediaBarWrapperVolume_e2bd94, .mediaBarWrapper_f312bd, .mediaBarwrapper_f312bd:before, .mediaBarWrapper_f312bd:after {
    background: var(--hover-color);
}
.mediaBarInteraction__0633c:hover .mediaBarGrabber_c64ff9, .mediaBarlnteractionDragging__0а2ее .mediaBarGrabber_c64ff9 {
    background: var(--blue-color-text);
}

/* Ползунок громкости */
.barFill__30e17 {
    background: var(--link-color);
    height: 100%;
}
.theme-dark .bar_e58961, .theme-dark .markDash_dc3ae9 {
    background: var(--hover-color);
}
.mini_d6d84c .grabber_d2868c {
    color: var(--blue-color-text);
}

/* Профиль и контекстное меню */
.userProfileInnerThemedNonPremium__3d0a6 {
    background: var(--additional-color);
}
.addFriendInputWrapper__4bf8e, .inner__999f6, .button__3ecb4:hover, .topPill__0cdf1 .themed_b957e8.item__48dda:hover:not(.disabled__85bca), .side_b4b3f6 .themed_b957e8.item__48dda:hover:not(.disabled__85bca), .theme-dark .friendSelected_f0db37, .menu__5cf7f .menuItemFocused__1490f, .lookFilled__19298.colorPrimary__6ed40, .lookFilled__19298.colorPrimary__6ed40:hover, .bar_e63719, .rolePill_ee1aa1, .listRow__60937:hover {
    background: var(--hover-color);
}
.addFriendInputWrapper__4bf8e:focus-within, .theme-dark .checkbox_c7f690, .checkbox__47b1a, .addFriendInputWrapper__4bf8e {
    border-color: var(--hover-color);
}
.themed__857a7 .barInner_d1abc6 {
    background: var(--link-color);
}
.colorDanger_eec36d, .colorDanger_eec36d .checkbox__45366, .colorDanger_eec36d .radioSelection__5ed39 {
    color: var(--blue-color-text);
}
.theme-dark .inviteRow_a25947:hover, .theme-dark .outer_a41cf3.interactive__01cfa:hover, .theme-dark .outer_a41cf3.active__76f42 {
    background: var(--hover-color);
}

/* Разделители и рамки */
.divider_d66e63, .divider__2bbbc, .divider_c09b64, .guildSeparator_dcb3cc, .sectionDivider__68d2a {
    background: var(--hover-color);
}
.voiceChannelsButton__46c37 {
    border: 2px solid var(--hover-color);
    cursor: pointer;
}
.separator__8424b:before {
    content: " ";
    border-left: 1px solid var(--main-color);
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
}
.messageInputContainer__768e6, .wrapper__6e669 {
    border: 1px solid var(--hover-color);
}
.menu__5cf7f div[role=separator] {
    border-color: var(--hover-color);
}
.theme-dark .footerSeparator__57d95 {
    box-shadow: var(--main-color);
}

/* Предупреждение */
.card__4dc22:not(.outline_cb0aed), .card__3087a, .cardWarning_d49e9e, .card__4dc22 {
    background: var(--hover-color);
}

/* Подсказки при наведении */
.tooltipPrimary_e5c00d, .tooltipGrey_a35fcf {
    background: var(--button-color) !important;
    border-radius: 10px;
}
.lookFilled__19298.colorGreen__5f181 {
    color: var(--main-color);
}

/* Упоминание */
.mention {
    color: var(--main-color);
}

/* Каналы в упоминании */
.wrapper_f46140, .wrapper_f46140:hover {
    background: var(--link-color);
	color: var(--main-color);
}

:root {
    /* Цвет загрузки демок и прочего */
    --primary-700: var(--hover-color);
    /* Цвет в контекстном меню при наведении */
    --brand-experiment-560: var(--hover-color);
	--brand-experiment-600: var(--hover-color);
    /* Цвет контекстного меню выбора региона звонка */
    --primary-630: var(--additional-color);
    --background-primary: var(--main-color);
    /* Кнопка В эфире */
    --red-400: var(--link-color);
    /* Выбранное разрешение и фпс демки */
    --brand-experiment: var(--hover-color);
     /* Цвет твоей панели активности */
    --background-secondary-alt: var(--additional-color);
    /* Цвета кнопок удалить сообщения */
    --red-430: var(--hover-color);
    --red-500: var(--hover-color);
    --red-530: var(--hover-color);
    /* Задний цвет сообщения в модальном окне удаления сообщений */
    --primary-600: var(--main-color);
}

/* Цвет контекстного меню выбора региона звонка при наведении */
.theme-dark .quickSelectPopoutOption__39224:hover {
    background-color: var(--hover-color);
}
.quickSelectPopoutOption__39224:focus {
    background-color: transparent;
}

/* Панель "Профиль и голос" */
.container_ca50b9, .container_d667ff, .panel_bd8c76 {
    background-color: var(--main-color) !important;
}
.container_d667ff {
    border-bottom: 1px solid var(--hover-color);
}
/* Значок демонстрации */
.icon_c1b424 {
    background-color: var(--hover-color) !important;
}

/* Выделение текста */
::selection {
    background: var(--link-color) !important;
}

/* Цвет плагинов */
.bd-addon-header {
    background-color: var(--hover-color) !important;
}

/* Кнопка */
.button__13ec4, .lookFilled__19298.colorRed_d6b062, .theme-dark .lookLink__93965.colorPrimary__6ed40, .buttonColor__01bf8, .lookFilled__19298.colorGreen__5f181:disabled, .lookFilled__19298.colorGreen__5f181[aria-disabled=true], .lookFilled__19298.colorGreen__5f181, .actionColor__21cca, .button__13ec4, .buttonColor__6f6b0, .lookFilled__19298.colorBrand_b2253e, .lookFilled__19298.colorPrimary__6ed40, .lookInverted_ee4261.colorBrand_b2253e, .lookOutlined__46d54.colorBrand_b2253e, .lookOutlined__46d54.colorGreen__5f181, .lookFilled__19298.colorGreen__5f181, .lookOutlined__46d54.colorRed_d6b062 {
    background: var(--hover-color);
	color: var(--blue-color-text);
	border-color: var(--hover-color);
}
.button__13ec4:hover, .lookFilled__19298.colorRed_d6b062:hover, .theme-dark .lookLink__93965.colorPrimary__6ed40:hover, .buttonColor__01bf8:hover, .lookFilled__19298.colorGreen__5f181:hover, .actionColor__21cca:hover, .button__13ec4:hover, .buttonColor__6f6b0:hover, .lookFilled__19298.colorBrand_b2253e:hover, .lookFilled__19298.colorPrimary__6ed40:hover, .lookInverted_ee4261.colorBrand_b2253e:hover, .lookOutlined__46d54.colorBrand_b2253e:hover, .lookOutlined__46d54.colorGreen__5f181:hover, .lookFilled__19298.colorGreen__5f181:hover, .lookOutlined__46d54.colorRed_d6b062:hover{
	background: var(--link-color);
	color: var(--main-color);
	border-color: var(--link-color);
}
.button__13ec4:active, .lookFilled__19298.colorRed_d6b062:active, .theme-dark .lookLink__93965.colorPrimary__6ed40:active, .buttonColor__01bf8:active, .lookFilled__19298.colorGreen__5f181:active, .actionColor__21cca:active, .button__13ec4:active, .buttonColor__6f6b0:active, .lookFilled__19298.colorBrand_b2253e:active, .lookFilled__19298.colorPrimary__6ed40:active, .lookInverted_ee4261.colorBrand_b2253e:active, .lookOutlined__46d54.colorBrand_b2253e:active, .lookOutlined__46d54.colorGreen__5f181:active, .lookFilled__19298.colorGreen__5f181:active, .lookOutlined__46d54.colorRed_d6b062:active {
    background: var(--hover-color);
	color: var(--blue-color-text);
	border-color: var(--hover-color);
}
.theme-dark .lookLink__93965.colorPrimary__6ed40:hover .contents_fb6220{
	--button--underline-color: transparent;
}

/* Кнопка "Показать/Скрыть" */
.lookLink__93965.colorLink_b651e5 {
	background: none;
	color: var(--link-color);
}
.lookLink__93965.colorLink_b651e5:hover {
	background: none;
	color: var(--link-color);
}
.lookLink__93965.colorLink_b651e5:active {
	background: none;
	color: var(--link-color);
}

/* Кнопка "Отправить сообщение"  */
.button__8d734[disabled]>.innerButton_debeee>.buttonChild__7b90d, .buttonChild__7b90d {
    color: var(--link-color);
}
.theme-dark .button__8d734:hover .activeButtonChild__6e162, .theme-dark .button__8d734:focus .activeButtonChild__6e162, .theme-dark .button__8d734:focus-within .activeButtonChild__6e162 {
    color: var(--link-color);
}

/* Кнопка "Бета" */
.base__92a12 {
	color: var(--main-color);
}

/* Кнопка-мини */
.lookBlank__7ca0a {
    background: transparent;
}

/* Кнопка "Показать участников" */
.participantsButton__56586 {
    background: var(--hover-color);
}
.participantsButton__56586:hover {
	background: var(--link-color);
}
.participantsButton__56586:active {
    background: var(--hover-color);
}

/* Кнопка "Голосовая связь подключена" */
.rtcConnectionStatusConnected__1d5b0 {
	background: transparent;
	color: var(--link-color);
	--button--underline-color: transparent;
}
.rtcConnectionStatusConnected__1d5b0:hover {
	background: transparent;
	color: var(--link-color);
	--button--underline-color: transparent;
}
.rtcConnectionStatusConnected__1d5b0:active {
	background: transparent;
	color: var(--link-color);
	--button--underline-color: transparent;
}

/* Кнопка "Личные сообщения" */
.childWrapper__01b9c {
    background: transparent
}
.theme-dark .container__590e2, .container_b2ce9c {
    background: var(--additional-color);
}

/* Кнопка "Добавить сервер" */
.circleIconButton_d8df29 {
    color: transparent;
}
.circleIconButton_d8df29.selected__5250e {
    background: var(--link-color)
}

/* Кнопка "Добавить в друзья" */
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542 {
    background: transparent;
}
.tabBar__73938 .addFriend__80542.addFriend__80542.addFriend__80542[aria-selected=true] {
    background: var(--hover-color);
}

/* Кнопка "Продемонстрируйте свой экран" */
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7:hover, .button__66e8c.buttonColor_a6eb73.buttonActive__407a7:hover {
    background: var(--link-color);
}
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7, .button__66e8c.buttonColor_a6eb73.buttonActive__407a7 {
    background: var(--hover-color);
}
.button__66e8c .buttonColor_a6eb73.buttonActive__407a7, .button__66e8c.buttonColor_a6eb73.buttonActive__407a7:active {
    background: var(--hover-color);
}

/* Кнопка "Отключиться" */
button[aria-label="Прекратить просмотр"], .colorable_c84c4c.red_a51ba8 {
    background: var(--main-color);
}

/* Панель "Эмодзи" */
.sticker__7d2dd, .scroller_e89578, .listItems__699d1, .categoryList_f8c48f, .inspector__993e1 {
    background: var(--main-color);
}
.assetWrapper_f2e406:hover, .navButton__05cc7:hover, .navButtonActive__735cb, .navButtonActive__735cb:hover, .emojiItem_b15dee.emojiItemSelected__1a09a, .categoryItemDefaultCategorySelected__8245a, .categoryItemDefaultCategorySelected__8245a:hover, .categoryItemDefaultCategory__67fe7:hover {
    background: var(--hover-color);
	color: var(--blue-color-text);
}

/* Реакции */
.reaction_fef95b.reactionMe__98f57 {
    background: var(--link-color);
    border-color: var(--link-color);
}
.reaction_fef95b.reactionMe__98f57 .reactionCount_b49901 {
    color: var(--main-color);
}
.reaction_fef95b:hover {
    border: 0.0625rem solid transparent;
}

/* Возвращение микрофона */
svg div button[aria-label="Вкл. микрофон"] {
    background: var(--white-500) !important;
}
svg div button[aria-label="Вкл. микрофон"] svg {
    color: var(--primary-860) !important;
}
svg div > button[aria-label="Откл. микрофон"] {
    background: var(--primary-630) !important;
}
svg div > button[aria-label="Откл. микрофон"]:hover {
    background: var(--primary-700) !important;
}
svg div button[aria-label="Откл. микрофон"] svg {
    color: var(--white-500) !important;
}
[role="button"][aria-label="Другие настройки"][class*="primaryDark__6b700"] {
    color: var(--primary-860) !important;
    background: var(--white-500) !important;
}
[role="button"][aria-label="Другие настройки"][class*="white__10e89"] {
    color: var(--white-500) !important;
    background: var(--primary-630) !important;
}

/* Авторство */
.info__755e1:after {
    content: "Theme by ProChopa";
    position: relative;
    font-size: 12px;
    line-height: 16px;
    color: var(--text-muted);
